<h1>Bill</h1>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAccount4">accountID</label>
      <input type="ID" class="form-control" id="inputAccount4" placeholder="ID">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPayee4">Payee</label>
      <input type="text" class="form-control" id="inputPayee4" placeholder="Payee">
    </div>
  </div>
  <div class="form-group">
    <label for="inputCreationDate">Creation Date</label>
    <input type="text" class="form-control" id="inputCreationDate" placeholder="Creation Date">
  </div>
  <div class="form-group">
    <label for="inputDate">Payment Date</label>
    <input type="text" class="form-control" id="inputDate" placeholder="Payment Date">
  </div>
  <div class="form-group">
    <label for="inputRecurringDate">Recurring Date</label>
    <input type="text" class="form-control" id="inputRecurringDate" placeholder="Recurring Date">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAmount">Amount</label>
      <input type="ID" class="form-control" id="inputAmount" placeholder="Amount">
    </div>
    <button type="submit" class="btn btn-primary">Submit Bill</button>
</form>
