<div class="card my-5">
    <div class="card-body col-md-8">
    
    <form (ngSubmit)="onSubmit()"> 
        <h1>{{ bills.id ? 'Edit Your Bill' : 'Make a bill' }}</h1>
    <div class="status-group">

      <div class="form-group">
        <label for="Id">Bill ID</label>
        <input type="number" class="form-control" [(ngModel)]="bills.id" id="id" placeholder="id" name="bill">
      </div>

        <h3>Status of Bill</h3>
        <input type="radio" [(ngModel)]="bills.status"  id="status" value="pending" name="status" [ngModelOptions]="{standalone: true}">
        <label for="pending">pending</label>

        <input type="radio" [(ngModel)]="bills.status" id="status" value="canceled" name="status" [ngModelOptions]="{standalone: true}">
        <label for="savings">canceled</label>

        <input type="radio" [(ngModel)]="bills.status" id="status" value="complete" name="status" [ngModelOptions]="{standalone: true}">
        <label for="credit">complete</label>

        <input type="radio" [(ngModel)]="bills.status" id="status" value="reccuring" name="status" [ngModelOptions]="{standalone: true}">
        <label for="reccuring">reccuring</label>
      </div> 

   <div class="form-row">
      <!-- <div class="form-group">
          <label for="status">status</label>
          <input type="text" class="form-control" [(ngModel)]="bills.status" id="status" placeholder="Ex: pending, cancelled, completed, recurring" [ngModelOptions]="{standalone: true}">
          </div> --> 

      <div class="form-group">
      <label for="Nickname">Nickname</label>
      <input type="text" class="form-control" [(ngModel)]="bills.nickname" id="nickname" placeholder="Nickname" [ngModelOptions]="{standalone: true}">
      </div>

    <div class="form-group">
    <label for="payee">Payee</label>
    <input type="text" class="form-control" [(ngModel)]="bills.payee" id="payee" placeholder="Payee" [ngModelOptions]="{standalone: true}">
    </div>
  </div>

  <div class="form-group">
    <label for="creation_date">Creation Date</label>
    <input type="text" class="form-control" [(ngModel)]="bills.creation_date" id="creation_date" placeholder="Creation Date" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="payment_date">Payment Date</label>
    <input type="text" class="form-control" [(ngModel)]="bills.payment_date" id="payment_date" placeholder="Payment Date" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="recurring_date">Recurring Date</label>
    <input type="number" class="form-control" [(ngModel)]="bills.recurring_date" id="recurring_date" placeholder="Recurring Date" [ngModelOptions]="{standalone: true}">
  </div>

    <div class="form-group">
      <label for="upcoming_payment_date">Upcoming Payment Date</label>
      <input type="text" class="form-control" [(ngModel)]="bills.upcoming_payment_date" id="upcoming_payment_date" placeholder="Amount" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
      <label for="payment_amount">Payment Amount</label>
      <input type="text" class="form-control" [(ngModel)]="bills.payment_amount " id="amount" placeholder="Amount" [ngModelOptions]="{standalone: true}">
    </div>

    <button type="submit" class="btn btn-primary">Submit Bill</button>
    <button type="submit" (click)="update()" class="btn btn-primary">Update Bill</button>
    <button type="submit" (click)="delete()" class="btn btn-primary">Delete Bill</button>
</form>
    </div>
  </div>