<form>
  <div class="form-group col-md-6">
    <label for="type">ID</label>
    <input type="text" [(ngModel)]="deposit.id" class="form-control" id="type" placeholder="Type of deposit"
      [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group col-md-6">
    <label for="type">Type</label>
    <input type="text" [(ngModel)]="deposit.type" class="form-control" id="type" placeholder="Type of deposit"
      [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group col-md-6">
    <label for="transaction_date">Transaction Date</label>
    <input type="text" [(ngModel)]="deposit.transaction_date" class="form-control" id="transactionDate"
      placeholder="Another input" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group col-md-6">
    <label for="status">Status</label>
    <input type="text" [(ngModel)]="deposit.status" class="form-control" id="status" placeholder="Another input"
      [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group col-md-6">
    <label for="payee_id">Payee Id</label>
    <input type="text" [(ngModel)]="deposit.account_id" class="form-control" id="payeeId" placeholder="Another input"
      [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group col-md-6">
    <label for="medium">Medium</label>
    <input type="text" [(ngModel)]="deposit.medium" class="form-control" id="medium" placeholder="Another input"
      [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group col-md-6">
    <label for="amount">Amount</label>
    <input type="text" [(ngModel)]="deposit.amount" class="form-control" id="amount" placeholder="Another input"
      [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group col-md-6">
    <label for="description">Description</label>
    <input type="text" [(ngModel)]="deposit.description" class="form-control" id="description"
      placeholder="Another input" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group col-md-6">
    <button type="submit" class="btn btn-info" (click)="save()">Submit</button>
  </div>
</form>