<div class="container">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Customer ID</th>
          <th scope="col">Nickname</th>
          <th scope="col">Account ID</th>
          <th scope="col">Rewards</th>
          <th scope="col">Balance</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let accounts of Account">
          <td>{{ accounts.id}}</td>
        </tr>
      </tbody>
    </table>
  </div>