<button (click)="createCustomer()">Create Customer</button>
<form (ngSubmit)="onSubmit()">
  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped table-hover w-auto">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td><a (click)="update(customer.customer_id)">{{ customer.customer_id }}</a></td>
            <td><a (click)="Click(customer.customer_id)">{{ customer.first_name }}</a></td>
            <td>{{ customer.last_name }}</td>
            <td *ngFor="let addy of customer.addresses">{{ addy.street_number }} {{ addy.street_name }},
              {{ addy.city }}, {{ addy.state }}, {{ addy.zip }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>